.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #C94328;
}
.footerContainer {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.footerText {
    margin: 20px 0;
    color: rgb(255, 255, 255);
}
.footerText--link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
.footerText--link:hover {
    color: rgb(255, 255, 255);
}
