@import "variables";

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: $font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    margin-bottom: 120px;
}
a {
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 165);
}
a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

// text selectors <3
::selection {
    background: rgb(255, 255, 165);
}
::-moz-selection {
    background: rgb(255, 255, 165);
}

// page styles
.jumbotron {
    font-family: $font-mono;
    color: white;
}
.jumbo-bgImage {
/*     background: url("/images/open-data.jpg") no-repeat center center; */
    background-color: rgb(201, 67, 40);
    background-size: cover;
}
.introText {
    font-size: 20px;
    margin-bottom: 30px;
}
.introText--title {
    font-size: 22px;
}

@media screen and (min-width: $screen-lg-min) {
    .container {
        width: 970px;
    }
    .jumbotron {
        padding: 5em;
        margin-bottom: 60px;
    }
    .introText {
        font-size: 25px;
    }
    .introText--title {
        font-size: 30px;
    }
}
