article {
    max-width: 760px;
}
article p {
    font-weight: 400;
    font-size: 19px;
    line-height: 1.6;
    font-family: "Georgia", serif;
    margin-bottom: 20px;
}
h2 {
    margin-top: 30px;
}
h3 {
    margin-top: 30px;
}
