@import "variables";

.u-alignCenter {
    text-align: center;
}
.u-imgWidth {
    width: 100%;
}
.u-fontMono {
    font-family: $font-mono;
}
.u-fontSans {
    font-family: $font-sans;
}
.u-bold {
    font-weight: 500;
}
