@import "variables";

.u-alignCenter {
    text-align: center;
}
.u-imgWidth {
    width: 100%;
}
.u-imgSameWidth {
    width: 100%;
}
.u-fontMono {
    font-family: $font-mono;
}
.u-fontSans {
    font-family: $font-sans;
}
.u-bold {
    font-weight: 500;
}
.u-whiteColor {
    color: rgb(255, 255, 255);
}
.u-whiteColor:hover {
    color: rgb(255, 255, 255);
}
.u-marginBottom {
    margin-bottom: 20px;
}
.u-moreMarginBottom {
    margin-bottom: 40px;
}
.u-marginRight {
    margin-right: 10px;
}
.u-zeroDecoration {
    border: none;
    background-color: transparent;
    text-decoration: none;
}
.u-vMiddle {
    vertical-align: middle;
}

@media screen and (min-width: $screen-lg-min) {
    .u-imgSameWidth {
        height: 160px;
        width: auto;
    }
    .u-marginBottom {
        margin-bottom: 40px;
    }
    .u-moreMarginBottom {
        margin-bottom: 60px;
    }
}
